@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* * {
  scrollbar-width: thin;
  scrollbar-color: #6969dd #e0e0e0;
} */

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
  position: absolute;
  bottom: 0px;
}

*::-webkit-scrollbar-track {
  background-color: #191919;
  border-radius: 100px;

}
*::-webkit-scrollbar-track-piece {
visibility: transparent;}

*::-webkit-scrollbar-thumb {
  background-color: #fca311;
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.5);
  height: 10px;

}

/* .section::-webkit-scrollbar {
  width: 4px;
  scrollbar-width: thin;
  scrollbar-color: #1a191a #12369a;
  /* transition: scrollbar-color 0.3s ease-out; */
/* } */
/* .section::-webkit-scrollbar-thumb {
  /* box-shadow: inset 2px 2px 5px 0 rgba(#000000, 0.5); */
  /* width: 2px;
}
.section::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
  background-color: transparent;

}   */
